* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Source Sans Pro", Helvetica, Arial;
}

.container {
	padding-left: 12px;
	padding-right: 12px;
}

body {
	margin: 0;
	padding: 0;
}

header h1 {
	background: #4a3a66;
	font-size: 1.1em;
	font-weight: normal;
	margin: 0;
}

header h1 a {
	color: #d4b6e2;
	display: block;
	padding: 12px;
	padding-bottom: 6px;
	padding-top: 14px;
	text-decoration: none;
}

header h1 a:hover {
	color: #fff;
}

#content h1 {
	color: #aaa;
	font-size: .9em;
	font-weight: 400;
	letter-spacing: 0.06em;
	margin: 0;
	padding-bottom: 5px;
	padding-top: 12px;
	text-transform: uppercase;
}


/* Goals on dashboard */

#content .goal {
	padding-bottom: 16px;
	padding-top: 16px;
}

#content .goal:nth-child(2n) {
	background: #eee;
}

#content .goal h2 {
	font-size: 1.3em;
	margin: 0;
}

#content .goal h2 a {
	color: #0772b3;
	text-decoration: none;
}

#content .goal .timer {
	animation: cycle 2s alternate infinite;
	-webkit-animation: cycle 2s alternate infinite;
	background: #444;
	border-radius: 3px;
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	font-size: .9em;
	font-style: italic;
	margin-top: .3em;
	margin-bottom: .1em;
	padding: 2px 6px 3px;
}

@keyframes cycle {
	0% { background: #f02a6e; }
	50% { background: #ca4da2; }
	100% { background: #f02a6e; }
}

@-webkit-keyframes cycle {
	0% { background: #f02a6e; }
	50% { background: #ca4da2; }
	100% { background: #f02a6e; }
}

#content .goal .timer .num {
	color: #fff;
	font-weight: 600;
}

#content .goal .info {
	color: #888;
	margin-top: .15em;
}

#content .goal .current {
	color: #040200;
	font-size: 1.3em;
	font-weight: 600;
}

#content .goal .target {
	color: #666;
	font-weight: 600;
}

#content .goal .percent {
	font-style: italic;
}

#content .goal .percentage-wrapper {
}

#content .goal .percentage {
	background: #ddd;
	margin-top: 3px;
	width: 100%;
	height: 4px;
}

#content .goal .percentage .bar {
	background: #444;
	height: 3px;
}

#content .goal .button {
	background: #444;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: .9em;
	float: right;
	letter-spacing: 0.05em;
	padding: 6px 8px 8px;
	text-transform: uppercase;
}

#content .goal .button:hover {
	background: #444 !important;
}

#content .goal .button.start {
	background: #7bb307;
}

#content .goal .button.stop {
	background: #c26b51;
	background: #f02a6e;
}
