* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Source Sans Pro", Helvetica, Arial;
}

.container {
	max-width: 400px;
	margin: 0px auto;
	padding-left: 12px;
	padding-right: 12px;
}

body {
	background: #292334;
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
}

header {
	background: #4a3a66;
}

header h1 {
	font-size: 1.1em;
	font-weight: normal;
	margin: 0px auto;
	max-width: 400px;
	padding: 12px;
	padding-bottom: 6px;
	padding-top: 14px;
	position: relative;
}

header h1 a {
	color: #d4b6e2;
	display: block;
	text-decoration: none;
}

header h1 a:hover {
	color: #fff;
}

header h1 a.logout {
	float: right;
	font-size: .9em;
}

#content {
	background: #fff;
	padding-bottom: 0px;
	padding-top: 0px;
}

@media screen and (min-width: 400px) {
	#content {
		padding-bottom: 50px;
		padding-top: 20px;
	}
}

#content h1 {
	color: #aaa;
	font-size: .9em;
	font-weight: 400;
	letter-spacing: 0.06em;
	margin: 0px auto;
	padding-bottom: 5px;
	padding-top: 12px;
	text-transform: uppercase;
}


/* Goals on dashboard */

#content .goal {
	background: #fff;
	overflow: hidden;
	padding-bottom: 16px;
	padding-top: 16px;
}

#content .goal.placeholder {
	background: #eee;
	height: 4em;
	margin: 10px auto;
}

#content .goal.ui-sortable-helper {
	border-radius: 3px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#content .goal:nth-child(2n) {
	background: #f5f5f5;
}

#content .goal h2 {
	font-size: 1.3em;
	line-height: 1em;
	margin: 0;
}

#content .goal h2 a {
	color: #0772b3;
	text-decoration: none;
}

#content .goal .timer {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 0 0 3px;
	color: rgba(255, 255, 255, 0.8);
	display: block;
	font-size: .9em;
	font-style: italic;
	margin-bottom: 0;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 6px;
	padding: 4px 8px 4px;
	text-align: left;
}

#content .goal .timer .elapsed {
	display: block;
	letter-spacing: 0;
	line-height: 1em;
	text-transform: none;
}

#content .goal .timer .seconds-wrapper {
	display: block;
	font-size: .8em;
	letter-spacing: 0;
	line-height: 1em;
	margin-top: 2px;
	text-transform: none;
}

#content .goal .timer .num {
	color: #fff;
	font-weight: 600;
}

#content .goal .timer .seconds {
	color: #fff;
	font-weight: 600;
}

#content .goal .timer.hidden {
	display: none;
}

#content .info {
	color: #888;
	margin-top: .15em;
}

#content .info .current {
	color: #040200;
	font-size: 1.3em;
	font-weight: 600;
}

#content .info .target {
	color: #666;
	font-weight: 600;
}

#content .goal.running .info .current {
	color: #db268d;
}

#content .goal.stale h2 a {
	color: #c02a2a;
}

#content .percentage {
	background: #e0e0e0;
	margin-top: 3px;
	width: 160px;
	height: 10px;
}

#content .percentage .bar {
	background: #444;
	height: 10px;
}

#content .percentage .bar.over {
	background: #f752dc;
}

#content .goal .button {
	background: #444;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: .9em;
	float: right;
	letter-spacing: 0.05em;
	min-width: 65px;
	padding: 7px 8px 8px;
	text-align: center;
	text-transform: uppercase;
}

#content .goal .button:hover {
	background: #444 !important;
}

#content .goal .button.start {
	background: #7bb307;
}

#content .goal .button.stop {
	-webkit-animation: cycle 2s alternate infinite;
	animation: cycle 2s alternate infinite;
	background: #c26b51;
	background: #f02a6e;
	padding-bottom: 0;
}

@keyframes cycle {
	0% { background: #f02a6e; }
	50% { background: #ca4da2; }
	100% { background: #f02a6e; }
}

@-webkit-keyframes cycle {
	0% { background: #f02a6e; }
	50% { background: #ca4da2; }
	100% { background: #f02a6e; }
}

#content .goal .entry.action {
	float: right;
}

#content .goal .entry.action.error {
	border: solid 1px #f00;
}

#content .goal .entry.action input.number-entry {
	-moz-appearance: textfield;
	background: #e6f9c7;
	border: none;
	border-radius: 3px 3px 0 0;
	color: #537637;
	display: block;	
	font-size: 1.2em;
	margin: 0;
	max-width: 65px;
	padding: 4px 5px 6px;
	text-align: center;
	text-transform: uppercase;
}

#content .goal .entry.action input.number-entry::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#content .goal .entry.action input.number-entry::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#content .goal .entry.action input.number-entry:focus {
	outline: none;
}

#content .goal .entry.action input.number-entry:hover {
	background: #d7f7a3;
}

#content .goal .entry.action .save {
	border-radius: 0 0 3px 3px;
	background: #7bb307;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: .8em;
	letter-spacing: 0.07em;
	padding: 4px 0 6px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

#content .goal .entry.action .save:hover {
	background: #444;
}

/* Optional */

#content .goal-list.optional {
	border-top: solid 3px #bbb;
}

#content .goal-list.optional .goal {
	font-size: .85em;
}

@media screen and (min-width: 600px) {
	#content .goal-list.optional {
		margin-top: 1em;
		padding-top: 1em;
	}
}

/* Detail page */

#content h3.entries {
	color: #888;
	font-size: .8em;
	font-weight: 400;
	letter-spacing: 0.05em;
	margin-bottom: .15em;
	margin-top: 1em;
	text-transform: uppercase;
}

#content .day {
	padding-bottom: 7px;
	padding-top: 7px;
}

#content .day:last-child {
	padding-bottom: 4em;
}

#content .day h4.info {
	font-size: .9em;
	font-weight: normal;
	margin: 0;
}

#content .day .info .day {
	color: #444;
	font-weight: 600;
}

#content .day .info .current {
	font-size: 1em;
}


/* Login page */

form.login {
	margin-top: 1em;
	padding-bottom: 1em;
}

form.login .group label {
	color: #888;
	display: block;
	margin-bottom: .2em;
}

form.login .group section {
	margin-bottom: 1em;
}

form.login .group section input[type=text] {
	font-size: 1.3em;
	padding: 3px 5px;
}

form.login .group section input[type=password] {
	font-size: 1.3em;
	padding: 3px 5px;
}

form.login input.button {
	background: #ab63c8;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	padding: 4px 10px 6px;
	-webkit-appearance: none;
}

form.login input.button:hover {
	background: #444;
}


/* Footer */

#footer {
	margin-top: 1em;
	padding-bottom: 2em;
}

#footer a {
	color: #d4b6e2;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
}

#footer h3 {
	color: #7a5b89;
	font-size: .8em;
	font-weight: 400;
	margin: 1.5em 0 5px;
}

#footer ul#latest-entries {
	font-size: .85em;
	margin: 0;
	padding: 0;
}

#footer ul#latest-entries li {
	line-height: 1.6em;
	list-style: none;
}

#footer ul#latest-entries li b {
	font-weight: 600;
}
