* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Source Sans Pro", Helvetica, Arial;
}

.container {
	max-width: 500px;
	margin: 0px auto;
	padding-left: 12px;
	padding-right: 12px;
}

body {
	background: #292334;
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
}

header {
	background: #4a3a66;
}

header h1 {
	font-size: 1.1em;
	font-weight: normal;
	margin: 0px auto;
	max-width: 500px;
	padding: 12px;
	padding-bottom: 6px;
	padding-top: 14px;
	position: relative;
}

header h1 a {
	color: #d4b6e2;
	display: block;
	text-decoration: none;
}

header h1 a:hover {
	color: #fff;
}

header h1 a.logout {
	float: right;
	font-size: .9em;
}

#content {
	background: #fff;
}

#content h1 {
	color: #aaa;
	font-size: .9em;
	font-weight: 400;
	letter-spacing: 0.06em;
	margin: 0px auto;
	padding-bottom: 5px;
	padding-top: 12px;
	text-transform: uppercase;
}


/* Goals on dashboard */

#content .goal {
	padding-bottom: 16px;
	padding-top: 16px;
}

#content .goal.placeholder {
	background: #eee;
	height: 4em;
	margin: 10px 0;
}

#content .goal:nth-child(2n) {
	background: #f5f5f5;
}

#content .goal h2 {
	font-size: 1.3em;
	margin: 0;
}

#content .goal h2 a {
	color: #0772b3;
	text-decoration: none;
}

#content .goal .timer {
	animation: cycle 2s alternate infinite;
	-webkit-animation: cycle 2s alternate infinite;
	background: #444;
	border-radius: 3px;
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	font-size: .9em;
	font-style: italic;
	margin-top: .3em;
	margin-bottom: .1em;
	padding: 2px 6px 3px;
}

@keyframes cycle {
	0% { background: #f02a6e; }
	50% { background: #ca4da2; }
	100% { background: #f02a6e; }
}

@-webkit-keyframes cycle {
	0% { background: #f02a6e; }
	50% { background: #ca4da2; }
	100% { background: #f02a6e; }
}

#content .goal .timer .num {
	color: #fff;
	font-weight: 600;
}

#content .goal .timer .seconds {
	color: #fff;
	font-weight: 600;
}

#content .goal .timer.hidden {
	display: none;
}

#content .info {
	color: #888;
	margin-top: .15em;
}

#content .info .current {
	color: #040200;
	font-size: 1.3em;
	font-weight: 600;
}

#content .info .target {
	color: #666;
	font-weight: 600;
}

#content .percentage {
	background: #ddd;
	margin-top: 3px;
	width: 100%;
	height: 4px;
}

#content .percentage .bar {
	background: #444;
	height: 3px;
}

#content .goal .button {
	background: #444;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: .9em;
	float: right;
	letter-spacing: 0.05em;
	padding: 6px 8px 8px;
	text-transform: uppercase;
}

#content .goal .button:hover {
	background: #444 !important;
}

#content .goal .button.start {
	background: #7bb307;
}

#content .goal .button.stop {
	background: #c26b51;
	background: #f02a6e;
}


/* Detail page */

#content h3.entries {
	color: #888;
	font-size: .8em;
	font-weight: 400;
	letter-spacing: 0.05em;
	margin-bottom: .15em;
	margin-top: 1em;
	text-transform: uppercase;
}

#content .day {
	padding-bottom: 5px;
	padding-top: 5px;
}

#content .day h4.info {
	font-size: .9em;
	font-weight: normal;
	margin: 0;
}

#content .day .info .day {
	color: #444;
	font-weight: 600;
}

#content .day .info .current {
	font-size: 1em;
}


/* Login page */

form.login {
	margin-top: 1em;
}

form.login .group label {
	color: #888;
	display: block;
	margin-bottom: .2em;
}

form.login .group section {
	margin-bottom: 1em;
}

form.login .group section input[type=text] {
	font-size: 1.3em;
	padding: 3px 5px;
}

form.login .group section input[type=password] {
	font-size: 1.3em;
	padding: 3px 5px;
}

form.login input.button {
	background: #ab63c8;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	padding: 4px 10px 6px;
}

form.login input.button:hover {
	background: #444;
}


/* Footer */

#footer {
	margin-top: 1em;
	padding-bottom: 2em;
}

#footer a {
	color: #d4b6e2;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
}

#footer h3 {
	color: #7a5b89;
	font-size: .8em;
	font-weight: 400;
	margin: 1.5em 0 5px;
}

#footer ul#latest-entries {
	font-size: .85em;
	margin: 0;
	padding: 0;
}

#footer ul#latest-entries li {
	line-height: 1.6em;
	list-style: none;
}

#footer ul#latest-entries li b {
	font-weight: 600;
}
