{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ ctx.name }} — Momentum</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

	<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
	<link href="{% static 'style.css' %}?v2" type="text/css" rel="stylesheet">

	<link id="favicon-ico" rel="shortcut icon" href="{% static 'favicon.ico' %}?v3" data-original-href="{% static 'favicon.ico' %}" data-timer-href="{% static 'favicon-timer.ico' %}">
	<link id="favicon-png" rel="shortcut icon" href="{% static 'favicon.png' %}?v3" data-original-href="{% static 'favicon.png' %}" data-timer-href="{% static 'favicon-timer.png' %}">
	<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}?v6">
	{% if fullscreen %}
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	{% endif %}

	<script src="{% static 'lib/jquery-2.1.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'lib/Sortable.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'momentum.js' %}?v=4" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		var webKey = "{{ key }}";
	</script>
</head>
<body data-update-uri="{% url 'status' ctx.slug %}" {% if ctx.color %}style="background: {{ ctx.footer_bg }};"{% endif %}>
	<header{% if ctx.color %} style="color: {{ ctx.header_text }}; background: {{ ctx.header_bg }}"{% endif %}>
		<h1>
			{% if request.user %}<div class="controls" style="color: {{ ctx.footer_head }}"><a href="{% url "organize" ctx.slug %}" style="color: {{ ctx.header_text }}">organize</a> &mdash; <a style="color: {{ ctx.header_text }}" href="{% url "logout" %}">logout</a></div>{% endif %}
			<a href="{% url "context" ctx.slug %}" style="color: {{ ctx.header_text }}">momentum</a>
		</h1>
	</header>

	<div id="content">
	{% block content %}{% endblock content %}
	</div>

	<div id="footer" {% if ctx.color %} style="color: {{ ctx.footer_text }}"{% endif %}>
	{% block footer %}{% endblock footer %}
	</div>
</body>
</html>
