{% extends '_base.html' %}

{% block content %}

<section id="goal-list">
{% for goal in goals %}
<div class="goal container" data-slug="{{ goal.slug }}">
	{% if goal.in_progress %}
	<span class="button action stop">Stop</span>
	{% else %}
	<span class="button action start">Start</span>
	{% endif %}

	<h2><a href="{% url "goal" goal.slug %}">{{ goal.name }}</a></h2>

	<div class="timer{% if goal.get_current_elapsed_time == 0 %} hidden{% endif %}"><span class="num">{{ goal.get_current_elapsed_time_converted|floatformat:1 }}</span> {{ goal.type }} (<span class="seconds">{{ goal.get_current_elapsed_time|floatformat:0 }}</span> seconds)</div>

	<div class="info"><span class="current">{% if goal.get_current_amount_converted == 0 %}0{% else %}{{ goal.get_current_amount_converted|floatformat:1 }}{% endif %}</span> of <span class="target">{{ goal.target_amount }}</span> {{ goal.type }} per {{ goal.period }}</div>

	<div class="percentage-wrapper">
		<div class="percentage"><div class="bar {% if goal.get_current_amount_converted > goal.target_amount %}over{% endif %}" style="width: {{ goal.get_current_percentage|floatformat:1 }}%;"></div></div>
	</div>
</div>
{% endfor %}
</section>

{% endblock content %}

{% block footer %}
<div class="container">
	<a target="_new" href="{% url 'admin:index' %}">Admin</a>

	<h3>Latest Entries</h3>
	<ul id="latest-entries">
		{% for entry in latest_entries %}
		<li><a href="{% url 'admin:momentum_entry_change' entry.id %}"><b>{{ entry.goal.name }}</b> &mdash; {{ entry.time|date:"j M — g:i" }}{% if entry.stop_time %}&thinsp;&ndash;&thinsp;{{ entry.stop_time|date:"g:i a" }}{% endif %}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock footer %}
