{% extends '_base.html' %}

{% block content %}

{% if unfoldered_goals %}
<section class="goal-list">
{% for goal in unfoldered_goals %}
	{% include '_goal.html' %}
{% endfor %}
</section>
{% endif %}

{% for folder in folders %}
{% if folder.active_goals|length > 0 %}
<h2 class="folder-name container">{{ folder.name }}</h2>

<section class="goal-list">
{% for goal in folder.active_goals %}
	{% include '_goal.html' %}
{% endfor %}
</section>
{% endif %}
{% endfor %}

{% endblock content %}

{% block footer %}
<div class="container">
	<a target="_new" href="{% url 'admin:index' %}">Admin</a>

	<h3>Latest Entries</h3>
	<ul id="latest-entries">
		{% for entry in latest_entries %}
		<li><a href="{% url 'admin:momentum_entry_change' entry.id %}" target="_new"><b>{{ entry.goal.name }}</b> &mdash; {{ entry.time|date:"j M — g:i" }}{% if entry.stop_time %}&thinsp;&ndash;&thinsp;{{ entry.stop_time|date:"g:i a" }}{% endif %}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock footer %}
