{% extends '_base.html' %}

{% block content %}

<div class="goal container">
	<h2>{{ goal.name }}</h2>

	<div class="info"><span class="current">{% if goal.get_current_amount_converted == 0 %}0{% else %}{% if goal.type == 'minutes' or goal.type == 'hours' %}{{ goal.get_current_amount_mm_ss }}{% elif goal.type == 'words' or goal.type == 'times' %}{{ goal.get_current_amount }}{% endif %}{% endif %}</span> of <span class="target">{{ goal.target_amount }}</span> {{ goal.type }} per {{ goal.period }}</div>

	<div class="percentage-wrapper">
		<div class="percentage"><div class="bar{% if goal.done_today %} over{% endif %}" style="width: {{ goal.get_current_percentage|floatformat:2 }}%;"></div></div>
	</div>
</div>

{% if goal.entries.all|length > 0 %}
<h3 class="entries container">Entries</h3>
{% for day in goal.get_entries_by_day %}
<div class="day container">
	<h4 class="info"><span class="day">{{ day.date|date:"j M Y" }}</span>: <span class="current">{% if day.amount == 0 %}0{% else %}{{ day.display_amount }}{% endif %}</span> of <span class="target">{{ day.target_amount }}</span> {{ goal.type }} per {{ goal.period }}</h4>

	<div class="percentage-wrapper">
		<div class="percentage"><div class="bar {% if day.over %}over{% endif %}" style="width: {{ day.percentage|floatformat:2 }}%;"></div></div>
	</div>
</div>
{% endfor %}
{% endif %}

{% endblock content %}
